/*** GENERAL STYLES ***/
/* Mobile */
.mobile {
  display: block;
}
.desktop {
  display: none;
}
/* Desktop */
@media (min-width: 80rem) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
}
.container {
  max-width: 80rem;
  padding-bottom: 7.5rem;
  padding-top: 7.5rem;
}

/*** Main ***/
#main {
  background: #f4f5f6;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

/* Mobile */
#main h1 {
  position: absolute;
  width: 100%;
  padding-top: 95vh;
  text-align: center;
  font-family: "Rouge Script", cursive;
  color: white;
  font-size: 2rem;
  padding-right: 27px;
}

.main-image {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

#map {
  width: 114%;
  margin: 0 -7%;
  height: 70vh;
}
